body {
  font-family: 'Quicksand', sans-serif;
 
  margin: 0;
  padding: 0;
}
 
h2,
h3 {
  color: #8d08a2;
}


nav a {
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
 
  color: white;
}

nav a:hover {
  font-weight:bold ;
}
.profile header {
  text-align: center;
}
 
.featured-image {
  width: 100%;
  max-height: 300px;
  object-fit: contain;
  object-position: center;
}
 
.profile img {
  width: 200px;
}

.card {
  box-shadow: 0 5px 10px 0 rgba(133, 6, 126, 0.2);
  border-radius: 10px;

padding: 20px;
  margin-top: 20px;
}

.jumbotron {
  font-size: 20px;
  padding: 60px;
  background-color: #570262;
  text-align: center;
  color: white;
}

nav li {
  display: inline;
  list-style-type: none;
  margin-right: 20px;
}

nav {
   background-color: #720381;
   padding: 5px;
}

main {
  padding: 20px;
}
