* {
  box-sizing: border-box;
}

body {
  font-family: 'Quicksand', sans-serif;
  margin: 0;
  padding: 0;
}

h2,
h3 {
  color: #8d08a2;
}

footer {
  padding: 20px;
  color: white;
  background-color: #8d08a2;
  text-align: center;
  font-weight: bold;
}

nav {
  background-color: #720381;
  padding: 10px;
  position: sticky;
  top: 0;
  z-index: 10;
}

nav ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 0;
  margin: 0;
}

nav li {
  list-style-type: none;
}

nav a {
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  color: white;
  padding: 6px 12px;
  border-radius: 6px;
  transition: background 0.3s ease;
}

nav a:hover {
  background-color: black;
  color: #fff;
}

.featured-image {
    width: 100% !important;
    height: auto !important;
    object-fit: contain !important;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 20px;
  background: white;
}

.jumbotron {
  font-size: 20px;
  padding: 60px 20px;
  background-color: #570262;
  text-align: center;
  color: white;
}

main {
  padding: 20px;
  display: flex;
  gap: 1.5rem;
}

#content {
  flex: 5;
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
}

aside {
  flex: 1;
}

header {
  display: block;
}

/* Tablet */
@media screen and (max-width: 1200px) {
  main {
    flex-flow: column nowrap;
  }

  aside {
    align-self: center;
    width: 100%;
  }
}

/* HP */
@media screen and (max-width: 768px) {
  nav ul {
    flex-direction: column;
    align-items: center;
  }

  nav a {
    display: block;
    width: 100%;
    text-align: center;
  }

  aside {
    width: 100%;
  }
}



